<div class="login-content">
    <div class="form-wrap">
        <h3>Login</h3>
        <form name="loginForm" novalidate ng-submit="loginForm.$valid && login.loginGo(user)">
            <input id="username" ng-model="user.username" type="text" placeholder="Username" autocomplete="off" required></input>
            <input id="password" ng-model="user.password" type="password" placeholder="Password" required></input>
            <button type="submit">Login</button>
        </form>
    </div>

</div>
