<div class="shop-content">
    <table>
        <thead>
            <th ng-click="shop.sortBy('name')" ng-class="{'sorted': shop.sortParam === 'name'}">Item</th>
            <th ng-click="shop.sortBy('color')" ng-class="{'sorted': shop.sortParam === 'color'}">Color</th>
            <th ng-click="shop.sortBy('quantity')" ng-class="{'sorted': shop.sortParam === 'quantity'}">Qty</th>
            <th class="price-col" ng-click="shop.sortBy('currentPrice')" ng-class="{'sorted': shop.sortParam === 'currentPrice'}">Price</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in shop.inventory | orderBy: shop.sortParam">
                <td>{{item.name | uppercase}}</td>
                <td>{{item.color | uppercase}}</td>
                <td>{{item.quantity}}</td>
                <td>
                    <span ng-class="{'on-sale': item.discount !== 0}">
                      {{shop.getPrice(item) | currency}}
                    </span>
                    <img class="sale-icon" src="images/sale_tag.png" ng-show="item.discount">
                </td>
            </tr>
        </tbody>
    </table>
</div>
