

div.add-item-container {
  // margin-top: $main-content-top-margin;
  padding: $small-spacing $base-spacing $base-spacing $base-spacing ;
  text-align: center;
    color: $light-gray;

  background-color: $twilight;
  box-shadow: 0 0 12px $medium-gray;

  label {

    font-size: 1.1em;
    line-height: 1.7em;
    margin-right: $small-spacing / 2;
  }

  input {
    width: 100%;
    display: block;
    appearance: none;
    margin-right: $small-spacing / 2;
    background-color: $base-background-color;
    border: $base-border;
    border-radius: $base-border-radius;
    padding: $base-spacing / 3;
    transition: border-color $base-duration $base-timing;
    &:focus {
      border-color: $base-border-color;
      outline: none;
    }
    }

  input.ng-invalid {
    border-color: $action-lilac;
   }

   div.form-row {
     display: flex;
     margin-top: $small-spacing;
   }






  input#item-price,
  input#item-discount{
      width: 40%;
  }

  input#item-qty {
    width: 20%;
  }


  button {
    width: 90%;
    color: $light-gray;
    background-color: $action-color;
    border-radius: $base-border-radius;
    border: 0;
    margin-top: $small-spacing;
    margin-left: 5%;
    padding: $small-spacing;
     &:hover {
       transform: scale(1.1);
     }
     &:active {
       transform: scale(1);
     }
     &:focus {
       outline: none;
     }
  }



}
