header {
  background-color: $twilight;
  color: $light-gray;
  position: fixed;
  width: 100%;
  height: $header-height;
  line-height: 1;
  display: flex;
  align-items: center;



        h2 {
          padding-left: 10px;
          float: left;
        }

      nav {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        i {
          margin: 0 5px;
        }
          div {
            display: flex;
            align-items: center;
            margin-right: 20px;
              &:hover {
                transform: scale(1.1);

              }

          }

          .hidden {
            display: none;
          }

      }
}
