

main {
  width: 80%;
  margin: 0 auto;

  .shop-content {

    .item-col {
      width: 30%;
    }

    img.sale-icon {
      width: 20px;
    }

    .on-sale {
      color: #d3362d;
    }
  }

  input.ng-invalid { background-color: tint(#9dc6d8, 80%); }


}
