

main {
  @include outer-container;
  .shop-content {
    @include span-columns(10);
    @include shift(1);
    .item-col {
      width: 30%;
    }
    img.sale-icon {
      width: 20px;
    }

    .on-sale {
      color: #d3362d;
    }


  }

}
