

  .shop-content {
    width: 80%;
    margin: 0 auto;

    table {
      border-collapse: collapse;
      margin: $small-spacing 0;
      table-layout: fixed;
      width: 100%;
    }

    th {
      border-bottom: 4px solid $twilight;
      color: $light-gray;
      font-weight: 400;
      font-size: 1.2em;
      padding: $small-spacing;
      text-align: left;
      background-color: $twilight;
        &:hover {
          border-bottom: 4px solid $action-color;
        }
    }

    th.sorted {
      background-color: $action-color;
      border-bottom: 4px solid $action-color;

    }


    td {
      border-bottom: $base-border;
      padding: $small-spacing;
    }

    tr,
    td,
    th {
      vertical-align: middle;
    }

    tr:nth-child(odd) {
      background-color: $light-gray;
    }


    th:first-child,
    td:first-child {
      width: 30%;
    }

    td .on-sale {
      color: $alert-red;
    }

    img.sale-icon {
      width: 20px;
    }


  }
